<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testInsert100000UseCollection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.88506</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsert10000UseCollection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0857</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsert3000()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.028699</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsert3000UseCollection()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024102</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsertMany()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.079439</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsertManyEachTransaction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0011425</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsertSoManySeparatedTransaction()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.48536</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testInsertToFatStore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090006</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testReflectionObjectIdentifier()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>2.68e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testReflectionString()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>7.2106e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testUpdateFindAndStore()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.048555</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
			<key>testUpdateInline()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.037422</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Oct 23, 2020 4:23:19</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
