<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>ComparerTests</key>
		<dict>
			<key>testPerfomance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>13.107200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
		<key>Computed2Tests</key>
		<dict>
			<key>testConcurrency()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>53002.012000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>38621.822000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.017725</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.002198</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>-6.553600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testPerformanceComputing()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1142.224200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3027.692400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000371</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000005</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testPerformanceComputingWithCommits()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1194.150400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3311.527600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000395</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000017</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
		<key>CopyPerformance</key>
		<dict>
			<key>testAny()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1315.097000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3020.379200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000428</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testAnyWithShared()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2595.284800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>5662.594600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000839</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.276800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testCopy()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2944.624600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6745.565200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000955</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000002</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testCopyWithShared()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2986.265200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>5715.734400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000985</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
		<key>CounterTests</key>
		<dict>
			<key>testCounterPerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2455.408000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>4941.341200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000804</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testGenCFDatePerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>4295.159200</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>9425.447000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.001404</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
			<key>testGenDatePerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>2763.811600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>6449.513400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000888</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000001</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
		<key>EventEmitterTests</key>
		<dict>
			<key>testRegistrationPerformance()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1712.701000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>4954.756400</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000555</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000167</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>134.348800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testMutationOnAnotherProperty()</key>
			<dict>
				<key>com.apple.dt.XCTMetric_CPU.cycles</key>
				<dict>
					<key>baselineAverage</key>
					<real>1341.828600</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.instructions_retired</key>
				<dict>
					<key>baselineAverage</key>
					<real>3019.473800</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_CPU.time</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000437</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Clock.time.monotonic</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000015</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
				<key>com.apple.dt.XCTMetric_Memory.physical_peak</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.000000</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Nov 4, 2022 0:28:13</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
